<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.6.0" targetFramework="net452" />
  <package id="Accord.MachineLearning" version="3.6.0" targetFramework="net452" />
  <package id="Accord.Math" version="3.6.0" targetFramework="net452" />
  <package id="Accord.Statistics" version="3.6.0" targetFramework="net452" />
  <package id="FSharp.Charting" version="0.90.14" targetFramework="net452" />
  <package id="FSharp.Core" version="3.1.2.5" targetFramework="net452" />
  <package id="ILNumerics" version="4.8.0.0" targetFramework="net452" />
  <package id="ILNumerics.Native" version="3.2.0" targetFramework="net452" />
  <package id="MathNet.Numerics" version="3.20.0" targetFramework="net452" />
  <package id="MathNet.Numerics.FSharp" version="3.20.0" targetFramework="net452" />
  <package id="OpenCvSharp3-AnyCPU" version="3.2.0.20170419" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net452" />
</packages>